#btnPlace{
    right:5%;
    position: fixed;
}

#textFieldEmail{
    margin-top:100;  
    margin-left: 500;
    margin-right: 500;
    
}

.paper{
    position: relative;
    width:380;
    height: 300;
    background-color: white;
    padding:4;
    display: block;
    margin-left: 120%;
    margin-right :25%;
    margin-top:100;
    vertical-align: middle;
    top:20%;    
}

#logo{
    height:60;
    width:180;
}
#logo2{
    height:60;
    width:180;
    margin-left:5%;
}

#cornerPlace{
    margin-left:96%;
    margin-top:-10%;
    position: absolute;
}

.MainContainer{
  
        position: fixed;
        width:380;
        height: 300;
        background-color: white;
        padding:4;
        display: block;
        margin-left: 120%;
        margin-right :25%;
        margin-top:100;
        vertical-align: middle;
        top:20%;    
    
}

.body-modal{
   
   
    bottom:25%;
    width: 500;
    height: 350;
    background-color: white;
    margin-left: 30%;
  
    position: absolute;
}

.paper-footer{
    top:28%;
    width: 500;
    height: 60;
    background-color: white;
    margin-left: 35%;
    margin-top:15%;
    position: relative;
}
.mainComp{
    position: relative;
    top:100%;
}