
#InputTaking{
    left: 25%;
    right:50%;
    padding-right:25%;
    
}
#placeInBottom{
    bottom:0;
    /* bottom:-100; */
   position:fixed;
   padding-left: 150;
   padding-right: 100;
   margin-left:10;
   margin-right:10;
   
}
#makeThisCenter{
    
    text-align: center;   
    margin-bottom: 100;
    position: sticky;
    padding-left: 350;
    padding-right: 300;
    padding-bottom: 400;
}

body{
    text-align: center;
    align-self: center;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-image: url("https://urbanfragment.files.wordpress.com/2012/07/hotel-grand-velas-riviera-nayarit-puerto-vallarta-mexico010.jpg");
}